/**
http://chir.ag/projects/name-that-color/
 */

// colors
$color-primary: black;
$color-body: #111515;
$color-body-grey: #999;

$color-blue-chill: #0f6f9a;
$color-white-opaque: rgba(white, 0.5); // used as slightly darkish font color on top of dark colored bg's.



// contacts - $color-link-blue: #0F6F9A;
$color-link-blue: #009de0; // Cerulean
$color-link-blue-focus: #0074a1; // allports
