///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global 0_settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$animation-speed: 2s;
$animation-speed-fast: 300ms;
$animation-speed-slow: 4s;
$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;
$global-transition-hover-fx: all 800ms ease-in !default;

