
// todo refactor name!
@mixin mix-last-child-no-bottom-margin($isImportant: "") {
  > *:last-child {
    margin-bottom: 0 #{$isImportant};
  }
}

/**
  A BLOCK CENTERED
  assumes that element is display: block, and has some width defined
*/
@mixin mix-center-block($important: '') {
  margin-left: auto #{$important};
  margin-right: auto #{$important};
}


/**
  remove margins on children (direct) inside element/container

  defaults to select P tags.
  To override this and use a * star selector, use mixin with
  an argument, eg, true, or '*' (which compiles to true) // ??

*/

@mixin mix-remove-margin-children($all: false) {

  $selector: 'p';

  @if $all {
    $selector: '*';
  }

  // remove margin ;
  > #{$selector} {
    margin: 0;
  }
}