// from docs

// Reassign `$inuit-global-spacing-unit` to `$unit`.
//$unit: $inuit-global-spacing-unit;
$spacing-unit: $inuit-global-spacing-unit;
$spacing-unit-tiny: $inuit-global-spacing-unit-tiny;
$spacing-unit-small: $inuit-global-spacing-unit-small;
$spacing-unit-large: $inuit-global-spacing-unit-large;
$spacing-unit-huge: $inuit-global-spacing-unit-huge;

// Reassign inuit-font-size mixin to `mix-font-size()`.
@mixin mix-font-size($args...) {
  @include inuit-font-size($args...);
}

/**
  Renaming breakpoint mixin to follow naming convention: mixins prefixed w mix-
 */
@mixin mix-break ($args...) {
  @include mq($args...) {
    @content;
  }
}