/**
  todo: enlarge textsize on widexl screen - or constrain width!
  todo: implement lazyload on generic basis


  */

.c-hero {

  position: relative;
  overflow: hidden;

  @include mix-text-light;

  // overwrite panel media
  .c-panel-media {
    background-color: transparent;
  }
  .c-panel-media__details {
    @include mix-text-weak;


    // set some extra margin bottom on the text. in tablet and up bp's
    // and only when details element is present before any other element
    // (is has no effect in mobile because of absolute pos

    @include mix-break(tablet) {

      + *:last-of-type {
        margin-bottom: rem($spacing-unit);
      }
    }
  }

}

.c-hero__body {
  position: relative;
  z-index: 1;

  background-color: $color-blue-chill; // default, not layered

  p, h1, h2 {
    @include mix-fade-in;
  }
}

.c-hero__heading {
  font-weight: normal;
}

.c-hero__video {
  overflow: hidden;
  transition: $global-transition;
  max-width: 1300px;
  @include mix-center-block;

  @include mix-break(wide) {
    margin-top: 4rem;
  }
}
/**
alternative more spacious props:
ditch the o-ratio element and have just structure lige this
<c-hero__video>
  <video/>
</c-hero__video>

.c-hero__video {

  position: relative;
  overflow: hidden;
  height: 100vh;
  transition: $global-transition;

  video {

    min-width: 100%;
    min-height: 100%;
    @include mix-place-center;
  }
}
 */

.c-hero__image {
  transition: $global-transition-hover-fx;
  position: relative;
  background: #eee;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 56.25%; // scale 16:9 todo: make variabel
  z-index: 0;

  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-width: none;
    opacity: 0;
  }

  @media print {
    background-image: none;
    padding-top: 0;
    position: static !important; // ayyrwr...!, to overwrite the layer modif styles
    img {
      position: static;
      opacity: 1;
    }
  }

}

.c-hero:hover {
  .c-hero__image {
    transform: scale(1.1);
  }
}

.c-hero__footer {
  position: relative;
  z-index: 1;
  width: 100%;

  // PULL up to text element.
  // unit large => padding-bottom on panel-media
  margin-top: -$spacing-unit-large;

  @include mix-text-weak; // default

  @include mix-break(tablet) {
    position: absolute;
    bottom: 0;
    left: 0;
    //z-index: 1;
    margin-top: 0;
  }

}

.c-hero__footer-content {

  width: 100%;
  display: table;
  table-layout: fixed;
  border-spacing: $inuit-global-spacing-unit;
  line-height: 2;
  @include mix-capped;

  > div {
    display: table-cell;
    vertical-align: bottom;

    &:last-child {
      text-align: right;
    }
  }
  * { // if p tags comes in output
    margin-bottom: 0;
  }
}

// MODIFIERS
//
.c-hero--layers {

  .c-hero__body {
    position: relative;
    height: 100%;
    display: block;
    width: 100%;
    background-color: transparent; // reset by overwrite
  }
  .c-hero__image {
    position: absolute;
    height: 100%;
    padding-top: 0;
    top: 0;
    z-index: 0;
  }
  .c-panel-media {
    position: static;
    transform: none;
  }

  .c-hero__footer,
  .c-panel-media__details {
    @include mix-text-weak(reset); // reset by overwrite
  }

  @include mix-break(tablet) {

    .c-hero__body {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

    }
    .c-hero__image {
      position: relative; // absolute;
      min-height: 50vh; // ?

    }

    // overwrite

    .c-panel-media {
      width: 100%;
      @include mix-place-center();
    }
    .c-panel-media__body {
      min-height: 0;
    }
  }

}

