$block: c-panel-media;

.#{$block} {

  position: relative;

}

.#{$block}__bg {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}

.#{$block}__body {

  $gap: $spacing-unit-large;
  @include mix-center-block;
  @include mix-last-child-no-bottom-margin;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: auto;
  max-width: $paragraph-max-width;
  padding-top: $gap;
  padding-bottom: $gap;

  min-height: 400px;


}


// MODIFS

.#{$block}--solid {
  background: $color-blue-chill;
}