$block: c-panel-media;
$bg-default: $color-grey-light;
.#{$block} {

  position: relative;
  background-color: $color-grey-light;

}

.#{$block}__bg {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.#{$block}__body {

  @include mix-center-block;
  @include mix-last-child-no-bottom-margin;
  @include mix-space-vertical($spacing-unit-large);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: auto;
  max-width: $paragraph-max-width;

  @include mix-break(desktop) {
    @include mix-space-vertical($spacing-unit-huge);
  }

}

.#{$block}__details {
  @include mix-capped;

}

// MODIFS

.#{$block}--th-blue {
  background: $color-blue-chill;
  @include mix-text-light;
  .#{$block}__details {
    @include mix-text-weak;
  }
}