

.c-hero {

  position: relative;



}


.c-hero__video {
//  background-color: #111;
;
  overflow: hidden;
  > div {
  @include mix-center-block;
    padding: rem($spacing-unit-large 0);
    max-width: rem(640px);
  }
}

.c-hero__image {
  position: relative;
  background: #eee;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 56.25%;
  z-index: 0;

  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-width: none;
    opacity: 0;
  }

}