<div class="o-card">
    <img src="https://placehold.it/750x350" title="An image" />
    <div class="o-card__body">
        <p class="o-card__kicker">I'm a "kicker"</p>
        <h4 class="c-heading--tiny">I'm the title</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores, ea fugit incidunt magnam quam quidem. Eaque maiores perferendis suscipit!
        </p>
        <p>
            <a href="#where_to">I'm a card link</a>
        </p>

    </div>
</div>