<div class="c-contact">

    <!-- constrain image width to 100px in all breakpoints with
        c-contact__img,
        todo: consider size as a responsive
        --small -->
    <div class="o-ratio u-margin-bottom  c-contact__img">
        <img class="o-ratio__content" src="/public/img/_dummy/contact.jpg"/>
    </div>

    <div class="c-contact__details">
        <p>Mit navn her</p>
        <small>Assistent director</small>
    </div>

    <ul class="c-linklist  c-linklist--small  c-linklist--caps">
        <li><a href="/">Link with component class longer</a></li>
        <li><a href="/">Link with component class</a></li>
    </ul>
</div>